*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: dimgray;
}
img{
    width: 35vh;
}
p{
    text-align: center;
    font-size: 5.5vh;
    margin-top: 7vh;
}




.imagem_grande_superior{
    width: 80vh;
   margin-left: 10vh;
}
.parte_superior{
display: flexbox;

align-items: center;
justify-content: center;

}
.coluna1{
    display: inline-block;
    align-self: flex-end;
    
   
}
.coluna2{
    display: flexbox;
    align-self: center;

}
.imagem_maior_inferior{
    width: 80vh;
    margin-left: 10vh;
}

.parte_inferior{
    display: flex;
    align-items: center;
    position: absolute;
    width: 45vh;
    gap: 2vh;
    height: 30vh;
}